ul, ol{
  padding: 0;
}

ul,
ol,
li{
  list-style: none !important;
}

hr{
  opacity: 0.1;
}

img{
  max-width: 100%;
}

#site-header{
  margin-bottom: 40px;
}

#gnb{
  padding: 20px;
}

#site-footer{
  padding: 40px;
  margin-top: 40px;
}

.screen-reader-text{
  display: none;
}

.post-item i{
  font-size: 12px;
  color: #797979;
  vertical-align: middle;
  margin-right: 3px;
}

.post-item .card-footer a{
  text-decoration: none;
}

.pagination{
  margin-top: 40px;
  /*display: block;*/
  /*text-align: center;*/
}

.text-link1{
  text-decoration: none;
}

.related-list .item{
  position: relative;
}

.related-list .item:last-child{
  margin-bottom: 0px !important;
}

.related-list .item-body{
  position: absolute;
  padding-left: 130px;
  top: 0;
  width: 100%
}

.site-title a{
  text-decoration: none;
  color: #333;
}

#gnb .menu:after{
  content: '';
  clear: both;
}

#gnb .menu-item{
  float: left;
  margin: 0 15px;
}

#gnb .menu-item a{
  text-decoration: none;
  color: #333;
}

.youtube{
  position: relative;
  padding-top: 56.6666%;
  overflow: hidden;
}
.youtube iframe{
  position: absolute;
  left: 50%;
  top: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 100% !important;
  height: 100% !important;
}

.widget h2{
  font-size: 1.5rem;
}

.widget a{
  text-decoration: none;
  color: #5a5a5a;
}

.card figure,
.card img{
  max-width: 100%;
}

/*page*/
.content-refrigerator-item.add{
  background: #f4f4f4;
}

.text-more{
  font-size: 20px;
  margin-left: 20px;
}

@media (min-width: 560px){
  #site-footer{
    padding: 40px 10px;
  }
}

.content-refrigerator-outer{
  position: relative;
}

.content-refrigerator-outer:after{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  pointer-events: none;
}

.content-refrigerator{
  height: 300px;
  overflow: scroll;
  padding-bottom: 50px;
}

.badge a{
  color: #fff;
  text-decoration: none;
}

.mySwiper{
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.mySwiper.on{
  opacity: 1;
}

.home-content{
  max-width: 1920px;
  margin: auto;
}

.home-content h2,
.home-content .swiper-wrapper{
  padding-left: 100px;
}

.home-content h2{
  margin-bottom: 20px;
}

@media(max-width: 1250px){
  .home-content h2,
  .home-content .swiper-wrapper{
    padding-left: 50px;
  }
}

@media(max-width: 768px){
  .home-content h2,
  .home-content .swiper-wrapper{
    padding-left: 30px;
  }
}

@media(max-width: 640px){
  .text-more{
    font-size: 14px;
  }

  .home-content h2{
    margin-bottom: 10px;
    font-size: 18px;
  }

  .home-content h2,
  .home-content .swiper-wrapper{
    padding-left: 15px;
  }

  .home-content .term-item,
  .home-content .post-item .card-title{
    font-size: 14px;
  }

  .home-content .post-item{
    font-size: 12px;
  }

  #site-footer{
    padding: 10px;
  }

  .post-item{
    width: 300px !important;
  }
}